<?xml version="1.0" encoding="UTF-8"?>
<!-- Path:settings.xml -->
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>allegiant-nexus-repository</id>
            <username>${DOLLAR}{allegiant.repo.username}</username>
            <password>${DOLLAR}{allegiant.repo.password}</password>
        </server>
        <server>
            <id>golola-nexus-repository</id>
            <username>${DOLLAR}{golola.repo.username}</username>
            <password>${DOLLAR}{golola.repo.password}</password>
        </server>
    </servers>
    <mirrors>
        <mirror>
            <id>golola-nexus-maven-all</id>
            <mirrorOf>*</mirrorOf>
            <url>https://nexus-g4w-cict.dev3.golo.la/repository/maven-all/</url>
        </mirror>
    </mirrors>
    <profiles>
        <profile>
            <id>nexus-allegiant</id>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>http://central</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <url>http://central</url>
                    <releases>
                        <enabled>true</enabled>
                         <updatePolicy>never</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>nexus-allegiant</activeProfile>
    </activeProfiles>
</settings>
